body, html{
    background-image: url('../images/meg-boulden-yiob91CAqN8-unsplash.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 0%;
    height: 100%;
}  

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.76);
    padding: 2%;
}

.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.content1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5%;
}


.text{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}


.service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desc{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 6%;
}

.pic img{
    width: 200px;
}

.text2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 3%;
    padding-top: 5%;
    padding-bottom: 3%;
}


.footer{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0.76);
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    padding: 2%;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}